body {
    background-color: black;
    font-family: Georgia, serif;
}

h1 {
    text-align: center;
    white-space: nowrap;
    color: white;
    text-decoration: underline;
    font-size: 48px;
    word-spacing: normal;
    letter-spacing: normal;
}

p {
    text-align: center;
    color: white;
    text-decoration: none;
}
