body {
    background-color: black;
    font-family: 'Oleo Script Swash Caps';
    overflow: hidden;
    margin: 0;
}

h1 {
    text-align: center;
    white-space: nowrap;
    color: white;
    font-size: 43px;
    word-spacing: normal;
    letter-spacing: normal;
}

p {
    text-align: center;
    color: white;
    text-decoration: none;
}

#globe {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
}
