.hidden {
    display: none;
}

body {
    background-color: black;
    font-family: 'Oleo Script Swash Caps';
    overflow: hidden;
    margin: 0;
}

h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    background: transparent;
    white-space: nowrap;
    color: white;
    font-size: 43px;
    word-spacing: normal;
    letter-spacing: normal;
    z-index: 10;
    text-shadow: 0 0 10px black;
}

p {
    text-align: center;
    color: white;
    text-decoration: none;
}

#globe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 90%;
    background: white;
    color: black;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 0px;
    box-shadow: 0 0 10px black;
    z-index: 1000;
    transition: transform 0.4s ease;
}

.player.show {
    transform: translate(-50%, 0);
}

#togglePlayer {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.songInfo {
    color: black;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin-left: 10px;
}

.songInfo p {
    text-align: left;
    color: black;
    margin: 0px 0;
    opacity: 80%;
    font-size: 15px;
}

.centerColumn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 1000px;
    pointer-events: none;
}

.controls, .timeline {
    pointer-events: auto;
}

.controls {
    display: flex;
    justify-content: center;
}

.controls button {
    background: none;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.playButton button{
    font-size: 30px;
}

.timeline {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    background: none;
    border-radius: 3px;
    overflow: hidden;
}

.currentTime, .fullTime {
    font-size: 10px;
    color: black;
    width: 40px;
    text-align: center;
}

.barContainer {
    flex-grow: 1;
    height: 6px;
    background: grey;
    border-radius: 3px;
    overflow: hidden;
}

.timelineBar {
    width: 20%;
    height: 100%;
    background: black;
    border-radius: 3px;
}

.extraDetails {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    gap: 100px;
}

.detailsLeft, .detailsRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.detailsLeft {
    text-align: left;
}

.detailsRight {
    text-align: right;
}

.extraDetails p {
    color: black;
    margin: 2px 0;
    opacity: 80%;
    font-size: 15px;
}

